<h1><%=form_title%></h1>

<%= form_for(user) do |f| %>

  Username: <%= f.text_field :username %>

    <%= f.submit "Submit", class: "btn" %>

  <div class="back btn">
    <%= link_to "back", root_path %>
  </div>
<% end %>
