<div class="row new-post">
  <h2 class="new-post-title"><%= form_title %></h2>
</div>

<%= form_for(user) do |f| %>

  <div class="text-field"><label>Username: </label>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="password-field"><label>Password: </label>
    <%= f.password_field :password %>
  </div>

  <a>
    <%= f.submit "Create Post", class: 'btn'%>
  </a>

<% end %>
