<!DOCTYPE html>
<html>
  <head>
    <title>Wineo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>
    <div class="container">
      <% if current_user %>
        Welcome! <b><%= current_user.username %></b> | <%= link_to "Logout", '/logout' %>
      <% else %>
        <%= link_to "Login", '/login' %> | <%= link_to 'Signup', '/signup' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
